<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
        <title>Testy McTestFace2</title>
    </head>
    <body>
        <h1>Person: <%=  ID %></h1>
        <h1>Person: <%=  ID.length %></h1>
        <h2>Querystring Value: <%= Qstr %></h2>
    </body>
</html>
